.container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 15px;
    padding: 20px;
    max-width: 1024px;
    margin: auto;
}

.bg-main {
    position: absolute;
    z-index: 0;
}

.bg-main img {
    width: 100vw;
    height: 500px;
}

.head-top {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.head-menu-toggle {
    z-index: 20;
    background-color: #7c7c7c41;
    padding: 5px;
    border-radius: 5px;
}

.store-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px #7c7c7c;
}

.store-container h2{
    text-align: center;
}

.store-container p {
    text-align: center;
}

.store-card-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 100%;
}

.store-card-content {
    background-color: #fff;
    box-shadow: 0 0 5px #7c7c7c;
    width: 200px;
    height: 250px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.store-card-icon {
    background-color: #e26600;
    color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.store-card-content input {
    border: none;
    text-align: center;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: large;
    background-color: transparent;
}

.store-card-content input:focus {
    outline: none;
}

.store-card-content button {
    width: 70%;
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color: #0e8206;
    font-family: 'Poppins';
    color: #fff;
    border-radius: 5px;
}

.store-card-container form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}


@media screen and (max-width: 600px) {
    .store-card-container {
        justify-content: center;
        align-items: center;
    }

    .store-card-content {
        width: 230px;
    }
}